<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
  <canvas #canvas width="800" height="600" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)"></canvas>
  <div class="controls">
    <div class="color-picker">
      <span>Select color:</span>
      <button class="color" style="background-color: black" (click)="setColor('#000000')"></button>
      <button class="color" style="background-color: red" (click)="setColor('#ff0000')"></button>
      <button class="color" style="background-color: green" (click)="setColor('#00ff00')"></button>
      <button class="color" style="background-color: blue" (click)="setColor('#0000ff')"></button>
      <button class="color" style="background-color: blue" (click)="setColor('#ffffff')"></button>
    </div>
    <div class="line-width-picker">
      <span>Select line width:</span>
      <button class="line-width" (click)="setLineWidth(5)">5</button>
      <button class="line-width" (click)="setLineWidth(10)">10</button>
      <button class="line-width" (click)="setLineWidth(20)">20</button>
      <button class="line-width" (click)="setLineWidth(50)">20</button>
    </div>
    <div class="clear-button">
      <button (click)="clear()">Clear</button>
    </div>
  </div>
  <div id="chat">
    <div id="messages">
      <div *ngFor="let message of messages">
        <strong>{{ message.user }}:</strong> {{ message.text }}
      </div>
    </div>
    <input type="text" [(ngModel)]="text" placeholder="Type your message..." (keydown.enter)="sendMessage()">
    <button id="send" (click)="sendMessage()">Send</button>
  </div>
</div>
</body>
</html>
