html{
  background-color: #f1f1f1;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #f1f1f1;
}

.sidebar {
  width: 300px;
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.whiteboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

canvas {
  border: 1px solid #ccc;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.color-picker {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  border: none;
  outline: none;
}

.color.selected {
  border: 2px solid #000;
}

.line-width-picker {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}

.line-width {
  margin-right: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.line-width.selected {
  font-weight: bold;
  text-decoration: underline;
}


.text-size-picker {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}

.text-size {
  margin-right: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.text-size.selected {
  font-weight: bold;
  text-decoration: underline;
}

.clear-button {
  margin-right: 10px;
}

.tool-picker {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}

.tool {
  margin-right: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.tool.selected {
  font-weight: bold;
  text-decoration: underline;
}


.chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chat {
  margin-top: 10%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  width: 300px;
}


.online-users-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  align-items: center;
}

#online {
  height: 200px;
  width: 300px;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

#users{
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

#messages {
  height: 540px;
  overflow-y: auto;
}

#messages div {
  margin-bottom: 5px;
}

input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  width: 286px;
}

#send {
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.clear-chat-btn{
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 157px;
}
