.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #f1f1f1;
}

.sidebar {
  width: 300px;
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.whiteboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

canvas {
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.color-picker,
.line-width-picker,
.text-size-picker,
.tool-picker {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  border: none;
  outline: none;
}

.color.selected {
  border: 2px solid #000;
}

.line-width,
.text-size,
.tool {
  margin-right: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.line-width.selected,
.text-size.selected,
.tool.selected {
  font-weight: bold;
  text-decoration: underline;
}

.chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#chat {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  width: 300px;
}

.online-users-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
}

#online {
  width: 300px;
  margin-top: -5px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

#users {
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

#messages {
  height: 540px;
  overflow-y: auto;
}

#messages div {
  margin-bottom: 5px;
}

input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  width: 286px;
}

#send {
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.clear-chat-btn {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto;
}

.online-users-box h2,
.line-width-picker span,
.text-size-picker span,
.tool-picker span,
#messages strong,
#messages div,
#users div,
.line-width,
.text-size,
.tool,
.confirmation-dialog p {
  font-family: Arial, sans-serif;
}

.confirmation-dialog {
  font-weight: bold;
  position: absolute;
  top: 42%;
  left: 49%;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 360px;
}

.confirm-yes {
  margin-right: 40px;
}

.online-user {
  position: relative;
}

.online-user:before {
  content: '';
  position: absolute;
  left: -11px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #87d82e;
  border-radius: 50%;
}

.confirmation-dialog p {
  margin: 0;
}
