<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
  <div class="sidebar">
    <div class = "online-users-box">
      <div id="online">
      <div id ="users">
        <ul>
      <li *ngFor="let user of onlineUsers">{{ user }}</li>
        </ul>
      </div>
      </div>
    </div>
    <div class="chat-box">
      <div id="chat">
        <div id="messages" #messagesContainer>
          <div *ngFor="let message of messages">
            <strong>{{ message.user }}:</strong> {{ message.chatText }}
          </div>
        </div>
        <input type="text" [(ngModel)]="chatText" placeholder="Type your message..." (keydown.enter)="sendMessage()">
        <button id="send" (click)="sendMessage()">Send</button>
        <button class="clear-chat-btn" (click)="clearChat()">Clear Chat</button>
      </div>
    </div>
  </div>
  <div class="whiteboard">
    <canvas #canvas width="800" height="600" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)"></canvas>
    <div class="controls">
      <div class="color-picker">
        <button [class.selected]="color === '#000000'" class="color" style="background-color: black" (click)="setColor('#000000')"></button>
        <button [class.selected]="color === '#ff0000'" class="color" style="background-color: red" (click)="setColor('#ff0000')"></button>
        <button [class.selected]="color === '#00ff00'" class="color" style="background-color: green" (click)="setColor('#00ff00')"></button>
        <button [class.selected]="color === '#0000ff'" class="color" style="background-color: blue" (click)="setColor('#0000ff')"></button>
        <button [class.selected]="color === '#ffff00'" class="color" style="background-color: yellow" (click)="setColor('#ffff00')"></button>
      </div>
      <div class="line-width-picker">
        <span>Line Width:</span>
        <button [class.selected]="lineWidth === 10" class="line-width" (click)="setLineWidth(10)">10</button>
        <button [class.selected]="lineWidth === 20" class="line-width" (click)="setLineWidth(20)">20</button>
        <button [class.selected]="lineWidth === 30" class="line-width" (click)="setLineWidth(30)">30</button>
      </div>
      <div class="text-size-picker">
        <span>Text Size: </span>
        <button [class.selected]="textSize === 20" class="text-size" (click)="setTextSize(20)">20</button>
        <button [class.selected]="textSize === 30" class="text-size" (click)="setTextSize(30)">30</button>
        <button [class.selected]="textSize === 40" class="text-size" (click)="setTextSize(40)">40</button>
      </div>
      <div class="tool-picker">
        <span>Tools:</span>
        <button [class.selected]="tool === 0" class="tool" (click)="setTool(0)">Pen</button>
        <button [class.selected]="tool === 1" class="tool" (click)="setTool(1)">Eraser</button>
      </div>
      <div class="clear-button">
        <button (click)="clear()">Clear</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
